﻿@if (ShowConfirmation)
{
    <div class="modal-backdrop show"></div>

    <div class="modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@Title</h5>
                    <button @onclick="onCancel" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button @onclick="onCancel" type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar
                    </button>
                    <button @onclick="onConfirm" type="button" class="btn btn-primary">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {

    [Parameter] public bool ShowConfirmation { get; set; } = false;
    [Parameter] public string Title { get; set; } = "Confirmar Exclusão?";
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public EventCallback onConfirm { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }

    public void Show() => ShowConfirmation = true;
    public void Hide() => ShowConfirmation = false;
}