﻿<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        @foreach (var link in links)
            {
                <li @onclick="@(() => SelectedPageLink(link))" style="cursor: pointer"
                    class="page-item @(link.Enabled ? null : "disabled") @(link.Active ? "active" : null)">
                    <span class="page-link" href="#">@link.Text</span>
                </li>
            }
    </ul>
</nav>

@code {

    [Parameter] public int currentPage { get; set; } = 1;
    [Parameter] public int totalPages { get; set; }
    [Parameter] public int range { get; set; } = 3;
    [Parameter] public EventCallback<int> selectedPage { get; set; }

    List<LinkModel> links;

    private async Task SelectedPageLink(LinkModel link)
    {
        if (link.Page == currentPage)
        {
            return;
        }

        if (!link.Enabled)
        {
            return;
        }

        currentPage = link.Page;
        await selectedPage.InvokeAsync(link.Page);
    }

    class LinkModel
    {
        public LinkModel(int page) : this(page, true)
        { }

        public LinkModel(int page, bool enabled) : this(page, enabled, page.ToString())
        { }

        public LinkModel(int page, bool enabled, string text)
        {
            Page = page;
            Enabled = enabled;
            Text = text;
        }

        public string Text { get; set; }
        public int Page { get; set; }
        public bool Enabled { get; set; } = true;
        public bool Active { get; set; } = false;
    }

    protected override void OnParametersSet()
    {
        LoadPages();
    }

    private void LoadPages()
    {
        links = new List<LinkModel>();

        //Tratar link da página anterior
        var isLinkPreviousPageEnabled = currentPage != 1;
        var previousPage = currentPage - 1;

        links.Add(new LinkModel(previousPage, isLinkPreviousPageEnabled, "Anterior"));

        //Tratar link das páginas específicas
        for (int i = 1; i <= totalPages; i++)
        {
            if(i >= currentPage - range && i <= currentPage + range)
            {
                links.Add(new LinkModel(i)
                {
                    Active = currentPage == i
                });
            }
        }

        //Tratar link da próxima pagina
        var isLinkNextPageEnabled = currentPage != totalPages;
        var nextPage = currentPage + 1;

        links.Add(new LinkModel(nextPage, isLinkNextPageEnabled, "Próximo"));

    }

}
