﻿@page "/product/create"
@inject HttpClient http
@inject NavigationManager navigation

<h2>Novo Produto</h2>

<ProductForm Product="@product" OnValidSubmit="CreateProduct"></ProductForm>

@code {
    private Product product = new Product();

    async Task CreateProduct()
    {
        await http.PostAsJsonAsync("api/product", product);
        navigation.NavigateTo("product");
    }
}
