﻿@page "/product/edit/{productId:int}"
@inject HttpClient  http
@inject NavigationManager navigation

<ProductForm Product="@product" OnValidSubmit="EditProduct">
</ProductForm>

@code {

    private Product product = new Product();

    [Parameter]
    public int productId { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        product = await http.GetFromJsonAsync<Product>($"api/product/{productId}");
    }

    async Task EditProduct()
    {
        await http.PutAsJsonAsync("api/product", product);
        navigation.NavigateTo("product");
    }
}
