﻿@page "/product"
@inject HttpClient http
@inject IJSRuntime js
@attribute [Authorize]

<h2>Produtos</h2>

<br />

<AuthorizeView Roles="Admin">
    <Authorized>
        <div>
            <a class="btn btn-success" href="product/create">Novo Produto</a>
        </div>
        <br />
    </Authorized>
    <NotAuthorized>
        <h2>Somente usuário admin pode criar um novo produto.</h2>
    </NotAuthorized>
</AuthorizeView>

<div class="form-inline">
    <label class="sr-only" for="filter-name">Filtro</label>
    <input type="text" id="txtNameFilter" class="form-control mb-2 mr-sm-2"
           @bind="nameFilter" placeholder="Filtrar por nome" />
    <button type="submit" class="btn btn-primary mb-2 mr-sm-2" @onclick="Filter">Filtrar</button>
    <button type="button" class="btn btn-danger mb-2 mr-sm-2" @onclick="ClearFilter">Limpar</button>
</div>

@if (products == null)
{
    <p><em>Carregando...</em></p>
}
else if (products.Count == 0)
{
    <p><em>Não existem produtos no momento.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>
                        <a class="btn btn-primary" href="product/edit/@product.ProductId">Editar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" style="color: white" @onclick="@(() => DeleteProduct(product.ProductId))">Deletar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<hr />

<Confirm @ref="confirm" onCancel="@Cancel" onConfirm="@Delete">
    <div>Deseja realmente excluir esta categoria?</div>
</Confirm>

<CustomPagination totalPages="totalPages" currentPage="currentPage" range="2" selectedPage="SelectedPage">
</CustomPagination>

@code {

    List<Product> products { get; set; }
    Confirm confirm;
    int codeProduct;

    private int totalPages;
    private int currentPage = 1;
    private string nameFilter = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadProducts();
    }

    async Task LoadProducts(int page = 1, int totalItemsPage = 3)
    {
        var httpResponse = await http.GetAsync
            ($"api/product?page={page}&totalItemsPage={totalItemsPage}&name={nameFilter}");

        if (httpResponse.IsSuccessStatusCode)
        {
            totalPages = int.Parse(httpResponse.Headers.GetValues("totalPages").FirstOrDefault());

            var responseString = await httpResponse.Content.ReadAsStringAsync();

            products = JsonSerializer.Deserialize<List<Product>>(responseString,
                new JsonSerializerOptions()
                {
                    PropertyNameCaseInsensitive = true
                });
        }
    }

    void DeleteProduct(int productId)
    {
        confirm.Show();
        codeProduct = productId;
    }

    void Cancel()
    {
        confirm.Hide();
    }

    async Task Delete()
    {
        await http.DeleteAsync($"api/product/{codeProduct}");
        confirm.Hide();
        await LoadProducts();
    }

    private async Task Filter()
    {
        currentPage = 1;
        await LoadProducts();
    }

    private async Task ClearFilter()
    {
        nameFilter = string.Empty;
        currentPage = 1;
        await LoadProducts();
    }

    private async Task SelectedPage(int page)
    {
        currentPage = page;
        await LoadProducts(page);
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Focus("txtNameFilter");
        }
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }
}
