﻿<EditForm Model="@Product" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label form="name">Nome</label>
        <div>
            <InputText id="txtCategoryName" @bind-Value="@Product.Name" class="form-control"></InputText>
            <ValidationMessage For="@(() => Product.Name)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label form="description">Descrição</label>
        <div>
            <InputTextArea @bind-Value="@Product.Description" class="form-control"></InputTextArea>
            <ValidationMessage For="@(() => Product.Description)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label form="price">Preço</label>
        <div>
            <InputNumber @bind-Value="@Product.Price" class="form-control"></InputNumber>
            <ValidationMessage For="@(() => Product.Price)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label form="category">Categoria</label>
        <div>
            <select @onchange="CategorySelectionChanged" class="form-control">
                @if (categories != null)
                {
                    @foreach (var category in categories)
                    {
                        <option value="@category.CategoryId" selected="@(category.CategoryId == Product.CategoryId ? true : false)">
                            @category.Name
                        </option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="form-group row">
            <InputFile OnChange="LoadImage"></InputFile>
        </div>
        <div class="col-2">
            <ImagePhoto RemoteImage="@Product.ImageUrl"></ImagePhoto>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Salvar</button>
    <button class="btn btn-light" @onclick="@(() => navigation.NavigateTo("product"))">Cancelar</button>

</EditForm>

@code {

    List<Category> categories;

    [Inject]
    public NavigationManager navigation { get; set; }

    [Inject]
    private HttpClient http { get; set; }

    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public string RemoteImage { get; set; }

    long maxFileSize = 1024 * 1024 * 15;

    protected async override Task OnInitializedAsync()
    {
        Product.ImageUrl = null;
        await LoadCategories();

        if (Product.CategoryId == 0)
        {
            Product.CategoryId = categories[0].CategoryId;
        }
    }

    private async Task LoadCategories()
    {
        categories = await http.GetFromJsonAsync<List<Category>>("api/category/all");
    }

    void CategorySelectionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            Product.CategoryId = id;
        }
    }

    async Task LoadImage(InputFileChangeEventArgs e)
    {
        var format = "image/jpeg";
        var imageFile = await e.File.RequestImageFileAsync(format, 640, 480);

        using var fileStream = imageFile.OpenReadStream(maxFileSize);
        using var memoryStream = new MemoryStream();
        await fileStream.CopyToAsync(memoryStream);

        RemoteImage = $"data:{format};base64,{Convert.ToBase64String(memoryStream.ToArray())}";

        if (RemoteImage != null)
        {
            Product.ImageUrl = RemoteImage;
            RemoteImage = null;
        }
    }

}