﻿@page "/login"

@inject HttpClient http
@inject NavigationManager navigation
@inject TokenAuthenticationProvider authStateProvider

<div class="container col-6">
    <Alert Show="loginFailed">
        <h5>@Message</h5>
    </Alert>
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <EditForm Model="user" OnValidSubmit="LogIn">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>E-mail</label>
                <InputText class="form-control" @bind-Value="user.Email" />
                <ValidationMessage For="@(() => user.Email)" />
            </div>
            <div class="form-group">
                <label>Senha</label>
                <InputText type="password" class="form-control" @bind-Value="user.Password" />
                <ValidationMessage For="@(() => user.Password)" />
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm">Login</button>
        </EditForm>
    </div>
</div>

@code {
    private User user = new User();
    bool loginFailed = false;
    [Parameter] public string Message { get; set; }

    async Task LogIn()
    {
        try
        {
            var loginAsJson = JsonSerializer.Serialize(user);

            var httpResponse = await http.PostAsync("api/account/login", new StringContent(loginAsJson, Encoding.UTF8, "application/json"));

            if (httpResponse.IsSuccessStatusCode)
            {
                var responseAsString = await httpResponse.Content.ReadAsStringAsync();

                var loginResult = JsonSerializer.Deserialize<UserToken>(responseAsString,
                    new JsonSerializerOptions { PropertyNameCaseInsensitive = true });

                await authStateProvider.Login(loginResult.Token);
                navigation.NavigateTo("/");
            }
            else
            {
                loginFailed = true;
                Message = $"Não foi possível efetuar o login (Erro: {httpResponse.StatusCode}";
            }
        }
        catch (Exception)
        {
            loginFailed = true;
            Message = $"Não foi possível efetuar o login.";
        }

    }
}
