﻿@page "/logout"

@inject NavigationManager navigation
@inject TokenAuthenticationProvider authStateProvider

<h4>Logout</h4>

<Alert Show="Show">
    <h5>@Message</h5>
</Alert>


@code {
    private bool Show = false;

    [Parameter]
    public string Message { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            await authStateProvider.Logout();
            navigation.NavigateTo("/");
        }
        catch
        {
            Show = true;
            Message = "Não foi possível fazer o logout.";
        }
    }
}
