﻿@page "/register"

@inject HttpClient http
@inject NavigationManager navigation

<h2>Registrar Usuário</h2>

<Alert Show="Show">
    <h5>@Message</h5>
</Alert>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Informe as credenciais do novo usuário</h5>
        <EditForm Model="user" OnValidSubmit="RegisterUser">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>E-mail</label>
                <InputText class="form-control" @bind-Value="user.Email" />
                <ValidationMessage For="@(() => user.Email)" />
            </div>
            <div class="form-group">
                <label>Senha</label>
                <InputText type="password" class="form-control" @bind-Value="user.Password" />
                <ValidationMessage For="@(() => user.Password)" />
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm">Registrar</button>
        </EditForm>
    </div>
</div>

@code {
    private bool Show = false;

    private User user = new User();

    [Parameter]
    public string Message { get; set; }

    private async Task RegisterUser()
    {
        try
        {
            var registerAsJson = JsonSerializer.Serialize(user);

            var httpResponse = await http.PostAsync("api/account/register", new StringContent(registerAsJson, Encoding.UTF8, "application/json"));

            if (httpResponse.IsSuccessStatusCode)
            {
                navigation.NavigateTo("/login");
            }
            else
            {
                Show = true;
                Message = $"Não foi possível registrar o usuário (Erro: {httpResponse.StatusCode})";
            }
        }
        catch (Exception)
        {
            Show = true;
            Message = "Não foi possível registrar o usuário.";
        }
    }
}
