﻿@page "/product/details/{productId:int}"
@inject HttpClient http 

<div class="col-sm-12 col-lg-12 col-md-12">
    <div class="card" style="border: none">
        <img src="data:image/jpeg;base64;@product.ImageUrl" class="img-rounded" alt="@product.Name" width="300" height="300" />
        <div class="card-body">
            <h4 class="pull-right">R$@product.Price</h4>
            <h4 class="card-title">@product.Name</h4>
            <p class="card-text">@product.Description</p>
            <a href="product/details/@product.ProductId">Detalhes</a>
        </div>
    </div>
</div>

<div>
    <a href="/catalog/@product.CategoryId" class="btn btn-link">Retornar</a>
</div>

@code {

    Product product = new Product();

    [Parameter] public int productId { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        product = await http.GetFromJsonAsync<Product>($"api/product/{productId}");
    }

}
