﻿@page "/catalog"
@page "/catalog/{categoryId:int}"
@inject HttpClient http

<div class="form-group">
    <select @onchange="CategorySelectionChanged" class="form-control">
        @if (categories != null)
        {
            @foreach (var category in categories)
            {
                <option value="@category.CategoryId" selected="@(category.CategoryId == categoryId ? true : false)">
                    @category.Name
                </option>
            }
        }
    </select>
</div>

@if (products == null)
{
    <p><em>Carregando...</em></p>
}
else if (products.Count == 0)
{
    <p><em>Não existem produtos cadastrados.</em></p>
}
else
{
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="card" style="border: none">
                    <img src="data:image/jpeg;base64;@product.ImageUrl" class="img-rounded" alt="@product.Name" width="180" height="180" />
                    <div class="card-body">
                        <h4 class="pull-right">R$@product.Price</h4>
                        <h4 class="card-title">@product.Name</h4>
                        <p class="card-text">@product.Description</p>
                        <a href="product/details/@product.ProductId">Detalhes</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {

    List<Product> products { get; set; }
    List<Category> categories { get; set; }
    private int codeCategory;

    [Parameter]
    public int categoryId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        categories = await http.GetFromJsonAsync<List<Category>>("api/category/all");

        if (categoryId == 0)
        {
            codeCategory = categories[0].CategoryId;
        }
        else
        {
            codeCategory = categoryId;
        }

        await LoadProducts();
    }

    async Task LoadProducts()
    {
        products = await http.GetFromJsonAsync<List<Product>>($"/api/product/categories/{codeCategory}");
        StateHasChanged();
    }

    async void CategorySelectionChanged(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int id))
        {
            codeCategory = id;
            await LoadProducts();
        }
    }
}
