﻿<EditForm Model="@Category" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label form="name">Nome</label>
        <div>
            <InputText id="txtCategoryName" @bind-Value="@Category.Name" class="form-control"></InputText>
            <ValidationMessage For="@(() => Category.Name)"></ValidationMessage>
        </div>
    </div>
    <div class="form-group">
        <label form="description">Descrição</label>
        <div>
            <InputTextArea @bind-Value="@Category.Description" class="form-control"></InputTextArea>
            <ValidationMessage For="@(() => Category.Description)"></ValidationMessage>
        </div>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Salvar</button>
    <button class="btn btn-light" @onclick="@(() => navigation.NavigateTo("category"))">Cancelar</button>

</EditForm>

@code{

    [Inject]
    public NavigationManager navigation { get; set; }

    [Parameter]
    public Category Category { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

}