﻿@page "/category/create"
@inject HttpClient http
@inject NavigationManager navigation
@inject IJSRuntime js

<h2>Nova Categoria</h2>

<CategoryForm Category="@category" OnValidSubmit="@CreateCategory"></CategoryForm>

@code {

    Category category = new Category();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Focus("txtCategoryName");
        }
    }

    public async Task Focus(string elementId)
    {
        await js.InvokeVoidAsync("focusById", elementId);
    }

    async Task CreateCategory()
    {
        await http.PostAsJsonAsync("api/category", category);
        navigation.NavigateTo("category");
    }

}
