﻿@page "/category/edit/{categoryid:int}"
@inject HttpClient http
@inject NavigationManager navigation

<h2>Editar Categoria - @category.Name</h2>

<CategoryForm Category="@category" OnValidSubmit="@EditCategory"></CategoryForm>

@code {

    Category category = new Category();

    [Parameter]
    public int categoryid { get; set; }

    protected async override Task OnParametersSetAsync()
    {
        category = await http.GetFromJsonAsync<Category>($"api/category/{categoryid}");
    }

    async Task EditCategory()
    {
        await http.PutAsJsonAsync("api/category", category);
        navigation.NavigateTo("category");
    }

}
