﻿@page "/category"
@inject HttpClient http
@inject IJSRuntime js

    <AuthorizeView>
        <Authorized>
            <h2>Categorias</h2>

            <div>
                <a class="btn btn-success" href="category/create">Criar Categoria</a>
            </div>

            <br />

            <div class="form-inline">
                <label class="sr-only" for="filter-name">Filtro</label>
                <input type="text" id="txtNameFilter" class="form-control mb-2 mr-sm-2"
                       @bind="nameFilter" placeholder="Filtrar por nome" />
                <button type="submit" class="btn btn-primary mb-2 mr-sm-2" @onclick="Filter">Filtrar</button>
                <button type="button" class="btn btn-danger mb-2 mr-sm-2" @onclick="ClearFilter">Limpar</button>
            </div>

            <br />

            @if (categories == null)
            {
                <p><em>Carregando...</em></p>
            }
            else if (categories.Count == 0)
            {
                <p><em>Não existem categorias no momento.</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Descrição</th>
                            <th>Editar</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in categories)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>
                                    <a class="btn btn-primary" href="category/edit/@category.CategoryId">Editar</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" style="color: white"
                                       @onclick="@(() => DeleteCategory(category.CategoryId))">Deletar</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            }

            <Confirm @ref="confirm" onCancel="@Cancel" onConfirm="@Delete">
                <div>Deseja realmente excluir esta categoria?</div>
            </Confirm>

            <hr />

            <CustomPagination totalPages="totalPages" currentPage="currentPage" range="2" selectedPage="SelectedPage">
            </CustomPagination>
        </Authorized>
        <NotAuthorized>
            <h2>Usuário não autorizado.</h2>
        </NotAuthorized>
    </AuthorizeView>


    @code {

        List<Category> categories { get; set; }
        //Category[] categories { get; set; }

        private int totalPages;
        private int currentPage = 1;
        private string nameFilter = string.Empty;

        Confirm confirm;

        int codeCategory;

        protected override async Task OnInitializedAsync()
        {
            await LoadCategories();
        }

        private async Task Filter()
        {
            currentPage = 1;
            await LoadCategories();
        }

        private async Task ClearFilter()
        {
            nameFilter = string.Empty;
            currentPage = 1;
            await LoadCategories();
        }

        private async Task SelectedPage(int page)
        {
            currentPage = page;
            await LoadCategories(page);
        }

        async Task LoadCategories(int page = 1, int totalItemsPage = 5)
        {
            var httpResponse = await http.GetAsync
                ($"api/category?page={page}&totalItemsPage={totalItemsPage}&name={nameFilter}");
            //categories = await http.GetFromJsonAsync<Category[]>("api/category");

            if (httpResponse.IsSuccessStatusCode)
            {
                totalPages = int.Parse(httpResponse.Headers.GetValues("totalPages").FirstOrDefault());

                var responseString = await httpResponse.Content.ReadAsStringAsync();

                categories = JsonSerializer.Deserialize<List<Category>>(responseString,
                    new JsonSerializerOptions()
                    {
                        PropertyNameCaseInsensitive = true
                    });
            }
        }

        void DeleteCategory(int categoryId)
        {
            confirm.Show();
            codeCategory = categoryId;
        }

        async Task Delete()
        {
            await http.DeleteAsync($"api/category/{codeCategory}");
            confirm.Hide();
            await LoadCategories();
        }

        void Cancel()
        {
            confirm.Hide();
        }

        protected async override Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                await Focus("txtNameFilter");
            }
        }

        public async Task Focus(string elementId)
        {
            await js.InvokeVoidAsync("focusById", elementId);
        }

    }
